<p>Hi, <%= @email %></p>

<p>
  We just detected a verification attempt using this email from: <%= @device %>.<br>
  If it wasn't you please let us know.
</p>

<p>
  Regards,<br>
  The User Auth Team
</p>
